xml/promos.dtd

<?xml version="1.0" encoding="UTF-8"?>
 <!ELEMENT promos (promo)+>
 <!ELEMENT promo (nombre, descripcion, descuento, productos)> 
 <!ELEMENT nombre (#PCDATA)>
 <!ELEMENT descripcion (#PCDATA)>
 <!ELEMENT descuento (#PCDATA)>
 <!ELEMENT productos (IDproducto+)>
 <!ELEMENT IDproducto (#PCDATA)>
 <!ATTLIST IDproducto cant CDATA #REQUIRED>